.container{
    display: flex;
}

.main_div{
    width: 100vw;
    height: 100vh;
    background-color: rgb(230, 194, 148);
    //position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}